[submodule "componente-vendas"]
	path = componente-vendas
	url = https://github.com/EnityBlackHawk/backend_bd2.git
[submodule "componente-produtos"]
	path = componente-produtos
	url = https://github.com/EnityBlackHawk/componente-produtos.git
[submodule "componente-ecommerce"]
	path = componente-ecommerce
	url = https://github.com/EnityBlackHawk/componente-ecommerce.git
[submodule "componente-pagamentos"]
	path = componente-pagamentos
	url = https://github.com/EnityBlackHawk/componente-pagamentos.git
[submodule "componente-gateway"]
	path = componente-gateway
	url = https://github.com/EnityBlackHawk/componente-gateway.git
